* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6IpD9mb8EDnvIfNlHQD3OedIDe1DVFsSaBAxS91_6dA&s=10);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}