
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap');


#p1 {
    color: red;
    font-size: large;
    text-decoration: dashed overline brown;
}

#p2 {
    color: pink;
    font-size: larger;
    text-transform: uppercase;
}


#p3 {
    color: pink;
    font-size: medium;
    text-shadow: 2px 2px 5px gray;
}

h1{
    color: black;
    font-size: larger;
    text-transform: capitalize;
    text-shadow: 2px 2px 3px red;
    text-decoration: dotted line-through mediumseagreen;
}


p {
    font-family: "Life Savers";
}