* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div {
    width: 100px;
    height: 100px;
    background-color: pink;
    color: pink;
    position: absolute;
    left: 100px;
    top: 100px;
}