* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#parent {
    width: 400px;
    height: 400px;
    background-color: pink;
    display: grid;

    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    
}

.child {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 1px white dashed;
    text-align: end;
    color: white;
    
}